<h1>Add a phone number:</h1>

<form action="/numbers" method="post">
  <div class="control-group">
    <label for="phone">Telephone: </label>
    <input id="phone" name="phone" type="number" placeholder="000-000-0000">
  </div>
  <button type="submit" class="btn">Add</button>
</form>
